<div class="conatiner">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="overview">
        <div class="single-order-package-card">
          <div class="margin-both">
            <h2 class="text-center">Summary</h2>
            <hr />
            <div class="inner">
              <img class="img-circle" src="{{ gig.picture }}" />
              <br />
              <p class="text-center">{{ gig.title }}</P>
              </div>
              <hr />
              <div class="input-group promocode">
                <input type="text" class="form-control" placeholder="Enter promocode" id="code">
                <span class="input-group-btn">
                  <button class="btn btn-success btn-block" id="promocodeButton">Apply</button>
                </span>
                <p class="text-center" id="promocodeResponse"></p>
              </div>
              <hr />
              <div class="space-between>">
                <h4><span>Subtotal: </span><span class="naira">#{{ gig.price }}</span></h4>
              </div>
              <hr />
              <div class="space-between>">
                <h4><span>Fee: </span><span class="naira">#200</span></h4>
              </div>
              <div class="space-between>">
                <h3><span>Total: </span><span class="naira">#{{totalPrice}}</span></h3>
              </div>
              <hr />
              <a href="/payment" class="btn-success btn-lg proceed-btn"> procceed to payment</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
